.super-mario {
  position: absolute;
  z-index:4;
  padding: 10px;
}

.goomba {
  position: absolute;
  z-index: 3;
  top: 1200px;
  padding: 10px;
}

.word {
  position: absolute;
  top: 2855px;
  left: 70px;
  z-index: 5;
  padding: 10px;
}

.baloon {
  position: absolute;
  top: 2800px;
  z-index: 2;
  padding: 10px;
}

.bowser {
  position: absolute;
  z-index: 1;
  top: 2900px;
  padding: 10px;
}