div:hover {
  border: 1px solid black;
}

div:first-of-type{
  background-color: #2196f3;
  
}

div:last-of-type{
  background-color: #f50057;
}

div:nth-last-child(4n) {
  background-color: lime;
}

div:nth-child(4n) {
  background-color: #570033;
}

div:nth-of-type(4n) {
  background-color: #e6ff04;
}